<div *ngIf="book">
 <p>Questo è book-details.component.html renderizzato separatamente dentro app.component.html al tag <strong>book-detail</strong></p>
 <div class="row selected-book">
 <div class="col-md-4">
 <img [src]="book.coverImage" alt="cover image"/>
 </div>
 <div class="col-md-8">
 <h3 class="title">{{book.title}}</h3>
 <p>{{book.authors}}</p>
 <p>{{book.published}}</p>
 <p>{{book.description}}</p>
 </div>
 </div>
 <div class="row">
 <div class="col-xs-10">
 <button  (click)="deleteBook()" class="btn btn-danger float-xs-right mt-1">
 Delete
 </button>
 </div>
 </div>
</div>
