
<div class="m-t-1 m-b-1">
  <input class="form-control" #nome /><input class="form-control" #citta />
  <button class="btn btn-primary m-t-1" (click)="addUtente(nome.value,citta.value)">
 Add
 </button>
</div>
<table class="table table-striped table-bordered">
   <thead>
   <tr><th></th><th>Nome</th><th>Citta</th><th></th></tr>
   </thead>
 <tbody>
 <tr  *ngFor="let item of listaUtenti">
 <td [ngClass]="{'stileBackBlu': item.nome=='mauro'}">{{item.id}}</td>
 <td [ngClass]="{'stileBackBlu': item.nome=='mauro'}">{{item.nome}}</td>
 <td [ngClass]="{'stileBackBlu': item.nome=='mauro'}">{{item.citta}}</td>
 <td> <button class="btn btn-primary m-t-1" (click)=deleteUtente(item.id)>Cancella {{item.id}}</button></td>
 </tr>
 </tbody>
</table>
